#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container {
   width: 1060px;
   padding: 32px;
   background-color: rgb(208, 240, 229);
}

.title {
    margin-bottom: 20px;
    text-align: center;
}